appdirs
click
dice
dnspython
docopt
enum-compat
eventlet
Flask
Flask-Assets
Flask-Login
Flask-PyMongo
Flask-SocketIO
Flask-WTF
greenlet
itsdangerous
Jinja2
jsonpickle
MarkupSafe
monotonic
packaging
pymongo
pyparsing
python-engineio
python-socketio
six
webassets
Werkzeug
WTForms
